
{% extends "Booking\User.html" %}


{% block content %}






<div style = "color:white;padding: 100px; margin: 100px;text-align:center">
 
<h3>WELCOME TO THE BOOKING PORTAL, SELECT YOUR OPTION FROM THE AVAILABLE OPTIONS</h3>

<ul style="list-style-type:none">
  <li><a href="{% url 'Booking:loginview' %}">Login</a></li>
  <li><a href="{% url 'Booking:Managerview' %}">Register</a></li>
  <li><a href="{% url 'Booking:Userview' %}">Add User</a></li>
  <li><a href="{% url 'Booking:portalview' %}">Back to Portal</a></li>
  <li><a href="{% url 'Customer_app:Customer_appview' %}" HOTEL</a></li>
  </ul>
        <p> you must first login into your portal</P>

</div>>


{% endblock content %}